<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="style.css" />
    <title>Ask For Job Generator</title>
</head>

<body>

   <div class="container-fluid mt-3" id="app">
         <div class="row">
            <div class="col-6">
                <div class="mb-3">
                  <label for="nome" class="form-label">Nome:</label>
                  <input type="text" class="form-control" id="nome" placeholder="Nome" maxlength="30" v-model="nome" />
                </div>
                <div class="mb-3">
                    <label for="objetivo" class="form-label">Objetivo:</label>
                    <input type="text" class="form-control" id="objetivo" placeholder="Objetivo" maxlength="30" v-model="objetivo" />
                </div>
                <div class="mb-3">
                    <label for="texto" class="form-label">Texto:</label>
                    <textarea class="form-control" id="texto" rows="3" v-model="texto"></textarea>
                </div>
                <div class="mb-3">
                    <label for="hashtags" class="form-label">Hashtags:</label>
                    <input type="text" class="form-control" id="hashtags" v-model="hashtags" />
                </div>
                <div class="mb-3">
                    <label for="vagas" class="form-label">Vagas:</label>
                    <input type="text" class="form-control" id="vagas" v-model="vaga" :onkeyup="setVagas" placeholder="Informe as vagas que busca, separadas por vírgula" />
                </div>
                <div class="mb-3">
                  <label for="tecnologias" class="form-label">Tecnologias:</label>
                  <select class="form-select" aria-label="Default select example" :onchange="setTecnologias" v-model="selected">
                     <option value=""></option>
                     <option v-for="tecnologia in tecnologias">{{ tecnologia }}</option>
                   </select>
                </div>                
            </div>
            <div class="col-6" id="app">
               <div class="card mb-3 border border-5 border-danger" style="max-width: 700px; border-radius: 0 !important;" >
                  <div class="row g-0">
                      <div class="col-md-4 text-bg-light fw-bold">
                          <div class="row">
                              <div class="col-12 text-center mt-1">
                                  <span class="text-decoration-underline">Procurando vagas de:</span><br /><br />
                                      <div v-for="vaga in vagas">
                                        {{ vaga }}
                                      </div>
                                  <hr class="border-primary border-3" />
                              </div>
                          </div>
                          <div class="row text-center">
                              <div class="col-12 fw-bolder" id="icones"></div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <div class="card-header text-bg-primary fw-bold fs-6" style="border-radius: 0 !important;">
                              <i class="fa-solid fa-laptop-code text-light"></i><span class="ms-2">{{ nome }} {{ objetivo }}</span>
                          </div>                
                          <div class="card-body text-bg-dark">
                              <p class="card-text text-bg-dark fw-bold">{{ texto }}</p>
                              <p class="card-text"><small>{{ hashtags }}</small></p>
                          </div>
                          <div class="card-footer text-bg-primary fw-bold pt-5" style="border-radius: 0 !important;">
                              <div class="row text-center p-3">
                                  <div class="col-5">
                                      <i class="fa-solid fa-share text-dark"></i> Compartilhe
                                  </div>
                                  <div class="col-3">
                                      <i class="fa-solid fa-thumbs-up text-warning"></i> Curta
                                  </div>
                                  <div class="col-4">
                                      <i class="fa-solid fa-comment text-danger"></i> Comente
                                  </div>
                              </div>
                          </div>                
                        </div>
                      </div>
                    </div>
            </div>
         </div>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>    
    <script src="app.js"></script>

</body>

</html>